/* 
.register-wrapper {
    background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("./assets/images/signup.jpg"));
    background-size: cover;
    background-position: center;
}
 */